@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        if(context.User.Identity!.IsAuthenticated == false)
                        {
                            NavigationManager.NavigateTo("/account/login");
                            return;
                        }
                    }
                    <LayoutView Layout="@typeof(MainLayout)">
                        <h1 class="text-danger">No autorizado</h1>
                        <p class="text-danger">Lo siento, no tienes permiso para ver esta página.</p>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Error 404 - No encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p class="alart alert-danger" role="alert">Lo sentimos, no se encuentra la dirección que buscas.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>